/* Section */
section {
  display: flex;
  flex: 1;

  padding: 20px;
  margin-bottom: 20px;

  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--color-1);
}
/* Aside */
#category-container {
  position: sticky !important;
  top: 0.8rem;
}

/* Dashboard */
#dashboard {
  display: flex;
  flex-direction: column;
}

#dashboard-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-icon {
  display: flex;
  width: 31%;
  border-radius: 10px;
  overflow: hidden;
}
.dashboard-icon-content,
.dashboard-icon-img {
  width: 50%;
}
.dashboard-icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
  padding: 10px;
}
.dashboard-icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 0.5rem;
}
.dashboard-icon-img img {
  height: 70%;
}

.dashboard-icon-title {
  font-size: 2rem;
  font-weight: 300;
}
.dashboard-icon-value {
  font-size: 2.5rem;
  font-weight: 500;
  white-space: nowrap;
}

#dashboard-chart {
  margin-top: 20px;
}

/* colors */
.di-red {
  border: 1px solid #ee5253;
}
.di-red .dashboard-icon-img {
  background-color: #ee5253;
}

.di-green {
  border: 1px solid #10ac84;
}
.di-green .dashboard-icon-img {
  background-color: #10ac84;
}

.di-blue {
  border: 1px solid #0abde3;
}
.di-blue .dashboard-icon-img {
  background-color: #0abde3;
}
